

@{
    ViewBag.Title = "Kanban";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
    <div class="container-fluid">
        <div class="page-header-content">

            <h1 class="page-header-title">
                <div class="page-header-icon"><i data-feather="trello"></i></div>
                <span>Tablero Kanban</span>
            </h1>
            <div class="page-header-subtitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @DateTime.Now.ToString("dddd, dd MMMM yyyy")</div>
           
        </div>
    </div>
</div>